{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/users/logout"><button>Logout</button></a>
    <a href="/manufacturers/new"><button>Enter New Manufacturer</button></a>
  
    {% for manufacturer in manufacturers %}
    <article>
      <a href="/manufacturers/{{ manufacturer._id }}">
        <h2>
          {{manufacturer.name}}
        </h2>
        <img src={{manufacturer.img}}>
      </a>
    </article>
    {% endfor %}
</div>
{%endblock%}