{% layout "layout.liquid" %} {% block content %}
    <div>
        <article>
        <h2>
            {{ manufacturer.name }}
        </h2>
        <h3>{{ manufacturer.models }}</h3>
        <a href="/manufacturers/{{ manufacturer._id }}/edit"><button>Edit</button></a>
        <form action="/manufacturers/{{ manufacturer._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
        <a href="/manufacturers/"><button>Back to Manufacturers Page</button></a>
        </article>
    </div>
{% endblock %}