{% layout "layout.liquid" %} {% block content %}
<form action="/manufacturers/{{manufacturer._id}}" method="post">
    <fieldset>
      <legend>Enter new vehicle model</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter model name"/>
      </label>
      <label>
        Image:<input type="text" name="img" placeholder="enter image link here" />
      </label>
      <label>
        Year:<input type="number" name="year" placeholder="enter year here" />
      </label>
      <label>
        Price:<input type="number" name="price" placeholder="enter price here" />
      </label>
      <label>
        Horsepower:<input type="number" name="seats" placeholder="enter horsepower here"/>
      </label>
      <label>
        Seats:<input type="number" name="seats" placeholder="enter number of seats"/>
      </label>
    </fieldset>
    <input type="submit" value=" Submit new vehicle model" />
  </form>
</div>
{% endblock %}